      
    <div class="mx-auto max-w-7xl px-4 sm:px-6">
        <nav class="relative flex items-center justify-between sm:h-10 md:justify-center" aria-label="Global">
          <div class="flex flex-1 items-center md:absolute md:inset-y-0 md:left-0">
            <div class="flex w-full items-center justify-between md:w-auto">
              <a href="#">
                <span class="sr-only">Your Company</span>
                <img class="h-8 w-auto sm:h-10" src="https://tailwindui.com/plus/img/logos/mark.svg?color=indigo&shade=600" alt="">
              </a>
              <div class="-mr-2 flex items-center md:hidden">
                <button type="button" class="relative inline-flex items-center justify-center rounded-md bg-gray-50 p-2 text-gray-400 hover:bg-gray-100 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500" aria-expanded="false">
                  <span class="absolute -inset-0.5"></span>
                  <span class="sr-only">Open main menu</span>
                  <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                  </svg>
                </button>
              </div>
            </div>
          </div>
   
          <div class="hidden md:absolute md:inset-y-0 md:right-0 md:flex md:items-center md:justify-end">
            <% unless user_signed_in? %>
              <span class="inline-flex rounded-md shadow">
                <a href="#" class="inline-flex items-center rounded-md border border-transparent bg-white px-4 py-2 text-base font-medium text-indigo-600 hover:bg-gray-50">Log in</a>
              </span>
              <span class="inline-flex rounded-md shadow">
                <a href="#" class="inline-flex items-center rounded-md border border-transparent bg-white px-4 py-2 text-base font-medium text-indigo-600 hover:bg-gray-50">Sign Up</a>
              </span>
            <% else %>
              <span class="inline-flex  rounded-md  shadow">
                <a href="#" class="inline-flex items-center rounded-md border border-transparent bg-white px-4 py-2 text-sm font-normal	 text-indigo-600 hover:bg-gray-50">Sign Out</a>
              </span>
              <%= render partial: "/layouts/partials/menu/user_dropdown"%>
            <% end %>
          </div>
        </nav>
    </div>