<div class="bg-white py-12 sm:py-12">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:max-w-4xl">
      <p class="mt-2 text-lg leading-8 text-gray-600">Learn how to grow your business with our expert advice.</p>
       <%= render partial: "posts/partials/post_hero_menu" %>
      <div class="mt-16 space-y-20 lg:mt-20 lg:space-y-20">
        <%@posts.each do |post| %>
            <%=render partial: "posts/partials/post_article", locals: { post: post} %>
         <% end%>
        <!-- More posts... -->
      </div>
    </div>
  </div>
</div>
